<h1> Welcome into Quizzes Page!</h1>
<a class="d-flex align-items-lg-center pt-3" style="align-content: center" >

    <a href="~/Quiz/GetAll" class="btn btn-warning ml-sm-4 pl-sm-1 pt-2">View All</a>
    <a href="~/Quiz/Create" class="btn btn-warning ml-sm-4 pl-sm-1 pt-2">Create New</a>
</a>
