/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#main {
    width: 100%;
    height: 100%;
    margin:150px 25px 0px 25px;
    align-content:center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6)
    
}
    #main h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #37517e;
    }

    #main h2 {
        color: #209dd8;
        margin-bottom: 50px;
        font-size: 24px;
    }

    #main .btn-instructor {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 10px 0;
        color: #fff;
        background: #47b2e4;
    }
    #main .btn-student {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 10px 25px;
        color: #fff;
        background: #73c5eb;
    }

        #main .btn-get-started:hover {
            background: #209dd8;
        }

    #main .btn-watch-video:hover i {
        color: #47b2e4;
    }

    #main .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 991px) {
    #main {
        height: 100vh;
        text-align: center;
    }

        #main .animated {
            -webkit-animation: none;
            animation: none;
        }

        #main .main-img {
            text-align: center;
        }

            #main .main-img img {
                width: 50%;
            }
}

@media (max-width: 768px) {
    #main h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #main h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #main .main-img img {
        width: 70%;
    }
}


@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}