@model CreateMCQuestionDto
@{
    // ViewData["Title"] = "Create";
    var pathValue = Context.Request.Path.Value;
    TempData["QuizId"] = pathValue.Substring(pathValue.IndexOf("=")+1);
}
<h1>Create MCQ Question</h1>
<p>Quiz Id: @TempData["QuizId"]</p>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <input asp-for="QuizId" class="form-control" value=@TempData["QuizId"] readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Statement" class="control-label"></label>
                <input asp-for="Statement" class="form-control" />
                <span asp-validation-for="Statement" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" type="number" min="15" step="5" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" type="number" min="1" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DifficultyLevel" class="control-label"> Difficulty Level</label>
                <select asp-for="DifficultyLevel" asp-items="Html.GetEnumSelectList<QSpace.Core.Enums.DifficultyLevel>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="A" class="control-label"></label>
                <input asp-for="A" class="form-control" />
                <span asp-validation-for="A" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="B" class="control-label"></label>
                <input asp-for="B" class="form-control" />
                <span asp-validation-for="B" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="C" class="control-label"></label>
                <input asp-for="C" class="form-control" />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="D" class="control-label"></label>
                <input asp-for="D" class="form-control" />
                <span asp-validation-for="D" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="formFile" class="form-label">Attachment file</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Back to Questions</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}