<h1> Welcome into Sessions Page!</h1>
<a class="d-flex align-items-lg-center pt-3" style="align-content: center">

    <a href="~/Session/GetAll" class="btn btn-warning ml-sm-4 pl-sm-1 pt-2">View All</a>
    <a href="~/Session/Create" class="btn btn-warning ml-sm-4 pl-sm-1 pt-2">Create New</a>
    <a href="~/Session/GetFutureSessions" class="btn btn-warning ml-sm-4 pl-sm-1 pt-2">Lunch a session</a>
</a>
