
<link href="~/css/home.css" rel="stylesheet" />
<div id="main" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <h1>Interactive Environment for Online Quizzes</h1>
                <h2>Project for creating and launching a quiz in live sessions</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="~/User/Login" class="btn-instructor scrollto">Instructor</a>
                    <a href="#student" class="btn-student scrollto">Student</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 min-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <img src="https://www.generouswork.com/wp-content/uploads/2018/05/online-quiz-website-courses.jpg" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</div>